---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pilvia LTD">
	<main class="flex flex-col justify-center gap-4 w-full h-screen text-center">
		<div class="text-8xl">☁️</div>
		<h1 class="text-5xl">Pilvia Ltd</h1>
		<p class="text-lg">a software company</p>
		<p class="text-xs mt-4">
			© 2023 Pilvia Ltd / Company number 14986947 / <a
				href="mailto:hello@pilvia.ltd"
				class="underline">Contact</a
			>
		</p>
	</main>
</Layout>
