---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pilvia LTD">
	<main class="flex flex-col justify-center gap-4 w-full h-screen text-center">
		<div class="text-8xl">☁️</div>
		<h1 class="text-4xl">Pilvia LTD</h1>
		<p>a software company</p>
	</main>
</Layout>
